<%- include('partials/_head') %>
<%- include('partials/_header') %>
  
  <main style="margin: 1em;">
    <% if (user) { %>
      <h3>My URLs</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Short URL</th>
            <th scope="col">Long URL</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% for(let url in urls) { %>
            <tr>
              <td><%= url %></td>
              <td><%= urls[url].longURL %></td>
              <td><a class="btn btn-outline-primary" href="/urls/<%= url %>">Edit</a></td>
              <td>
                <form action="/urls/<%= url %>/delete" method="post">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button class="btn btn-outline-danger">Delete</button>
                </form>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <a href="/urls/new"><strong>Create New Short Link</strong></a>
    <% } else { %>
      <div class="container mt-4">
        <div class="row">
          <div class="col-8 mx-auto">
            <div class="alert alert-danger text-center mt-5">
              <%= errorMessage %>
              <div>Please <a href="/login">login</a> to see your URLs, or <a href="/register">register</a> if you do not have an account.</div>
            </div>
          <% } %>
          </div>
        </div>  
      </div>
  </main>
  
<%- include('partials/_end') %>